<div class="row">




</div>


<div *ngIf="employees?.length>0 ; else elseBlock">



      <table class="table table-inverse">
          <thead>
            <tr>
             <th>First Name</th>
              <th>Last Name</th>
              <th>salary</th>


            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let item of employees">
              <th>{{item.firstName}}</th>
              <th>{{item.lastName}}</th>

              <th>{{item.salary | currency:"USD":true}}</th>

              <th> <a href="" [routerLink]="['employee/'+item.$key]" class="btn btn-primary">more <i class="fa fa-info-circle" ></i>
              </a></th>

            </tr>


          </tbody>
        </table>









  </div>

  <ng-template #elseBlock><h2>OOPS ! empty database</h2></ng-template>



